:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #020204;

    --primary-color: #0232c2;
    --secondary-color: #0449e0;
    --inverted-primary-color: #00ff2b;
    --inverted-secondary-color: #22b455;
}